body,
html {
  height: 100%;
  margin: 0;
}

.container {
/*  text-align: center; */
  height: 100%;
  padding: 5px;
  box-sizing: border-box;
  display: grid;
  grid-template-areas: "header header"
  "sidebar nav"  
  "sidebar article"
  "footer footer";
  gap: 3px;
  grid-template-columns: minmax(150px, 1fr) minmax(500px,4fr);
  grid-template-rows: 1fr 1fr 12fr 1fr;
  background-color: lightblue;
}

.container > div {
  padding: 12px;
  font-size: 32px;
  font-family: "Times New Roman";
  font-weight: bold;
  color: white;
  border-radius: 12px;
}

div ul {
  list-style: none;
  font-size: medium;
}

div ul li {
  margin: 8px 0;  
}

.header {
  background-color: #29a929;
  grid-column: 1 / span 2;
  grid-area: header;
  display: grid;
  grid-template-columns: minmax(150px, 1fr) minmax(500px,4fr);
  text-align: start;
}

.header div {
  padding-left: 12px;
}

.logo {
  display: flex;
  justify-content: left; /* Horizontal */
  align-items: center;     /* Vertikal */
}

.logo img {
  padding-left: 16px;
  height: 120px;
  object-fit: cover;
}

.sidebar {
  background-color: #106fac;
  grid-row: 2 / span 2; 
  grid-area: sidebar;
  min-height: 200px;
}

.nav {
  background-color: #106fac;
  grid-area: nav;
  grid-row: 2 / span 1; 
}

.nav ul {
  margin: 8px;
  display: flex;
  align-content: center;     /* Vertikal */
  justify-content: space-between;
}

.article {
  background-color: #106fac;
  grid-area: article;
  grid-row: 3 / span 1; 
  overflow: hidden;  
  display: grid;
  align-content: start;
}

.article-text {
  min-height: 0; /* Critical to prevent flexbox from forcing growth */
  overflow-y: auto; /* Enables scrolling when items exceed height */
  padding: 0px 8px;
}

.article-text p {
  font-size: 20px;
  line-height: 1.25;
  font-weight: normal;
  color: white;
  text-align: left;
}

.footer {
  background-color: #29a929;
  grid-column: 1 / span 2;
  grid-area: footer;
  display: flex;
  align-items: center;
}

.footer span {
  padding-left: 12px;
  font-size: 10pt;
  text-align: left;
  font-weight: normal;
  color: rgb(183, 193, 201);
}

ul a, p a {
    color: #31fcff;
    text-decoration: none;
}

a:hover {
    color: #ffc531 ;
    text-decoration: underline ;
}

.diagram {
  border: black;
  border-width: 10px;
  background-color: lightgray;
  padding: 8px;
  width: 600px;
}