body {
  font-family: 'Times New Roman';
  display: grid;
  grid-template-columns: auto auto;
}

.card {
  border: 2px solid midnightblue;
  border-radius: 15px;
  width: 85mm;
  height: 55mm;
  margin: 10px;
  padding: 2mm;
  background-color: white;
  display: flex;
  flex-direction: column;
  translate: -85mm;
  rotate: -90deg;
  transform-origin: top right;
  box-sizing: border-box;
}

.name {
    text-align: center ;    
    font-size: 32pt;
    font-weight: bold;
}

.qrcode {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.logo {
  height: 50mm;
  width: 50mm;
  translate: -4mm -7mm;
}

.qr {
  height: 20mm;
  width: 20mm;
  translate: 0 -7mm;
}

/*
Source - https://stackoverflow.com/a/907719
Posted by Dmitri Farkov, modified by community. See post 'Timeline' for change history
Retrieved 2026-03-11, License - CC BY-SA 4.0
*/

@media print {
  .card {
    break-inside: avoid;
  }
}
