body {
  font-family: 'Times New Roman';
  display: grid;
  grid-template-columns: auto auto;
}

.card {
  border: 2px solid midnightblue;
  border-radius: 15px;
  width: 85mm;
  height: 55mm;
  margin: 10px;
  padding: 2mm;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.name {
    text-align: center ;    
    font-size: 32pt;
    font-weight: bold;
}

.qrcode {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.logo {
  height: 50mm;
  width: 50mm;
  translate: -4mm -7mm;
}

.qr {
  height: 20mm;
  width: 20mm;
  translate: 0 -7mm;
}

@media print {
  .card {
    break-inside: avoid;
  }

  .pb {
    page-break-after: always;
  }
}
