body {
  font-family: 'Times New Roman';
  display: grid;
  grid-template-columns: auto auto;
}

.card {
  border: 2px solid midnightblue;
  border-radius: 15px;
  width: 85mm;
  height: 55mm;
  margin: 10px;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
}

.name {
    text-align: center ;    
    font-size: 28pt;
    font-weight: bold;
}

.qrcode {
    display: flex;
    margin: 5px auto;
    gap: 8px;
}

.logo {
  height: 20mm;
  width: 27mm;
}

.qr {
  height: 40mm;
  width: 40mm;

}

/*
Source - https://stackoverflow.com/a/907719
Posted by Dmitri Farkov, modified by community. See post 'Timeline' for change history
Retrieved 2026-03-11, License - CC BY-SA 4.0
*/

@media print {
  div {
    break-inside: avoid;
  }
}
