body {
  font-family: 'Times New Roman';
}

.card {
  border: 2px solid midnightblue;
  border-radius: 15px;
  width: 9cm;
  height: 6cm;
  margin: 2px;
  background-color: lightblue;
}

.name {
    text-align: center ;    
    font-size: 32pt;
    font-weight: bold;
}

.qrcode {
    display: flex;
    margin: 5px auto;
    height: 4.3cm;
    width: 4.3cm;
}
